{% extends "layout.html" %}
{% block content %}
<h2>Formula-1</h2>
<p>Формула-1 (англ. Formula One, Formula 1) — чемпионат мира по кольцевым гонкам,
    который проводится ежегодно и состоит из этапов (называемых Гран-при),
    в соответствии с техническими нормами, требованиями и правилами, установленными Международной автомобильной федерацией (FIA).</p>
<p> Название происходит от набора технических правил (т. н. «формулы»),
    которому должны соответствовать автомобили всех участников.
    С 1950 по 1980 год проводился чемпионат мира для гонщиков (англ. World Championship for Drivers),
    на смену которому в 1981 году пришёл чемпионат мира Формулы-1 (англ. Formula 1 World Championship),
    позже получивший современное название: FIA Formula One World Championship.
    Турнир находится под управлением Международной автомобильной федерации,
    ответственной за продвижение на данный момент является группа компаний Formula One Group.
    Чемпионат мира проводится каждый год и состоит из отдельных этапов, имеющих статус Гран-при,
    в конце года подводятся итоги турнира, с учётом суммы набранных за сезон очков.
    В Формуле-1 соревнуются как отдельные гонщики (за титул чемпиона мира среди гонщиков,
    также называемый в русском языке личным зачётом (чемпионата мира)),
    так и отдельные команды (за титул чемпиона мира среди конструкторов,
    для которого в русском языке часто используется его историческое название «кубок конструкторов»).</p>
<p> Техника участников должна соответствовать техническому регламенту Формулы-1 и пройти тест на ударопрочность.
    Команды, участвующие в гонках Формулы-1, используют на Гран-при гоночные автомобили собственного производства.
    Таким образом, задачей команды является не только нанять быстрого и
    опытного гонщика и обеспечить грамотную настройку и обслуживание машины,
    но и вообще самостоятельно спроектировать и сконструировать машину.
    Но бывают и исключения. Например, шасси команд Red Bull Racing и Scuderia Toro Rosso (с 2020 Scuderia Alpha Tauri)
    были очень похожи, почти идентичны, вплоть до 2009 года.
    Они были спроектированы и изготовлены компанией Red Bull Technology,
    так как обе команды и компания-изготовитель принадлежат концерну Red Bull GmbH.</p>
<p> Поскольку команды строят машины по собственным технологиям и ввиду высокой конкуренции команд,
    в Формуле-1 постоянно появляются оригинальные технические решения,
    что ведёт к прогрессу как гоночных машин, так и дорожных автомобилей.</p>
{% endblock %}
